@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	/* background: #222; */
	width: 100%;
}

.container {
	width: 100%;
	height: auto;
	/* margin: 50px auto; */
	padding: 50px 0;
	/* background: white; */
	/*border-top: 50px solid black;*/
	/*border-bottom: 50px solid black;*/
}
h1 {
	color: #333 !important;
	text-align: center;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 18px;
}

h2 {
	color: #666 !important;
	text-align: left;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: normal;
	font-size: 26px;
	max-width: 60%;
	line-height: 1.2em;
}

.container p, .container li {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: normal;
	max-width: 60%;
	margin: 10px auto;
	color: #666;
	line-height: 1.2em;
}

.container p { text-align: center; font-size: 16px; }
.container p.conf { background: rgba(0,0,0,0.15); margin-top: 40px; padding: 10px; text-align: center; }
.container li { font-size: 14px; }

#titletext {
	color: #333;
	text-align: center;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: normal;
	font-size: 32px;
	margin-top: 48px;
}

.resultrow {
	width: 820px;
	height: 50px;
	/* color: white; */
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin: 0 auto 60px auto;
	/* padding-left: 20px; */
}
.resultleft {
	float: left;
	width: 50%;
	text-align: center;
	margin-left: 10px;
}
.resultright {
	width: 50%;
	float: left;
	text-align: center;
	margin-left: -10px;
}

#revpercent {
	font-size: 24px;
	font-weight: bold;
	/* color: #333 !important; */
	/* width: 220px; */
	margin-bottom: 10px;
	/* padding-left: 20px; */
}
#profitpercent {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	/* padding-left: 10px; */
}

#selectorBtns {
	text-align: center;
}

.selectorLabels {
	display: inline-block;
	margin-right: 20px;
	color: white;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	/* font-weight: bold; */
	vertical-align: middle;
	background: #404040;
	padding: 8px 18px 10px 12px;
	border-radius: 22px;
	text-transform: uppercase;
}

.selectorLabels span {padding-left: 3px;}

#selectorBtns input, .nav input {
    vertical-align: text-bottom;
}

.nav { margin: 30px auto 20px auto; text-align: center; }

circle {
	/* fill: rgba(243, 243, 243, 0); */
	/* box-shadow: 0 0 25px 10px #616161; */
	/* stroke: rgb(255, 255, 255); */
	/* stroke-width: 2px; */
}

text {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 16px;
	/* font-weight: bold; */
	color-interpolation: inherit;
	/* fill: rgb(255, 255, 255); */
}

#gauge_div { margin: 0 auto; }

#revpercent p { padding-left: 30px; }
